

<% @title = "Por Carmen | Comunidad" %>

    <!-- Publicacion - Comuniad -->
    <section id = "comunidad" class = "seccion-comunidad">
      <div class = "container-fluid">

    <!-- Titulo -->
    <div class = "titulo-principal mt-2 mb-4">
        <h2>Comunidad</h2>
    </div>

        <div class = "row justify-content-center">

        <%= render @comments %>

        </div>
      </div>
    </section>