
                    <!-- Formulario de contacto  -->
                    <form action = "#" method = "post" role = "form" class = "formulario-contacto">
                      <div class = "row">

                        <!-- Nombre  -->
                        <div class = "col-md-6 form-group">
                          <input type = "text" name = "nombre-contacto" class = "form-control" id = "nombre-contacto" placeholder = "Nombre completo" required>
                        </div>

                        <!-- Nombre  -->
                        <div class = "col-md-6 form-group mt-3 mt-md-0">
                          <input type = "email" class = "form-control" name = "correo-contacto" id = "correo-contacto" placeholder = "Correo electronico" required>
                        </div>
                      </div>

                        <!-- Mensaje  -->
                      <div class = "form-group mt-3">
                        <textarea class = "form-control" name = "mensaje-contacto" rows = "5" placeholder = "¿Por qué quieres ser parte de Asociación por Carmen?" required></textarea>
                      </div>

                        <!-- Enviar -->
                      <div class = "text-center btn-contacto"><button type = "submit">Enviar mensaje</button></div>
                    </form>